html, body, .wrapper {
    height: auto;
}

body {
    margin: 0;
    background: #060e1b;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}

#canvas {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.line {
    height: 2px;
    width: 90%;
    margin: auto;
    background-color: cadetblue;
}

.line1 {
    height: 2px;
    width: 750px;
    margin-left: 200px;
    margin-bottom: 20px;
    background-color: cadetblue;
}

#top_menu {
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
}

#user_box {
    width: 100px;
    height: auto;
    float: right;
    padding: 8px 10px 10px 10px;
}

#d_body {
    width: 1000px;
    height: auto;
    border: 2px solid white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#menu {
    width: 100px;
    height: 155px;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    margin-top: 15px;
    margin-left: 45px;
    float: left;
}


#menu ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#menu ul li{
    margin-top:8px;
    text-align:center;
    width:100px;
    background-color:black;
}

#menu ul li a{
    display:block;
    padding:3px 2px 4px 2px;
}

#menu ul li a:link, #menu ul li a:visited {
    color:white;
    text-decoration:none;
}

#menu ul li a:hover {
    color:#ffffff;
    text-decoration:none;
    background-color:#574d4d;
}

#d_body_1 {
    width:auto;
    height:auto;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

#search {
    width: 700px;
    height: auto;
    margin-left: 200px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.button {
    width: 60px;
    height: 25px;
    background-color: white;
    color:Highlight;
    border: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.button:hover {
    background-color:cornflowerblue;
    color:gainsboro;
    cursor: pointer;
}

#footer {
    width: 100%;
    height: 100px;
}

#T_U {
    width: 300px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
}

#T_S {
    width: 750px;
    height: auto;
    margin-left: 200px;
    margin-bottom: 40px;
}

#T_T {
    width: 600px;
    height: auto;
    margin-left: 275px;
    margin-bottom: 40px;
}

#T_A {
    width: 600px;
    height: auto;
    margin-left: 275px;
    margin-bottom: 40px;
}

#reset_password {
    width: 100px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

#Button13 {
    width: 50px;
    height: 25px;
    background-color: white;
    color: Highlight;
    border: hidden;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

#Button13:hover{
    background-color:palegoldenrod;
    color:black;
    cursor:pointer;
}
