body {
    background-color: white;
}

#top {
    width:1000px;
    height:200px;
    margin-left: 150px;
    margin-bottom:10px;
}

#top_image {
    float:left;
}

#announcement_title {
    width: 100px;
    height: auto;
    float: right;
    margin-right: 350px;
    margin-top: 100px;
}

#d_body {
    width: 1000px;
    height: 800px;
    margin-left: 150px;
} 

#menu {
    margin-left: 25px;
    border: 2px solid;
    border-style: double;
    border-color: blue;
    background-color: skyblue;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 150px;
    height: auto;
    float:left;
}

#T_menu {
    width: 100px;
    height: auto;
    margin: auto;
}

#th_menu {
    margin-top: 10px;
}

#announcement {
    width:400px;
    height:100px;
    margin-left:420px;
}
