body {
    background: url(../image/earth1.jpg)no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    background-size: cover;
}

#d_bot {
    width:auto;
    height:auto;
    margin-top:100px;
    background-color: white;
    float: left;
}
#bot {
    width: auto;
    height: auto;
    margin-top: 100px;
    background-color: white;
    float: left;
}

#d2 {
    width: 400px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: Highlight;
    opacity: 0.8;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#middle {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 180px;
}


#d_message {
    width: 400px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: Highlight;
    opacity: 0.8;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:20px;
}

#T_1 {
    width: 400px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}


.th_1 {
    width:80px;
}

#T_2 {
    width: 400px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

#th_2 {
    width:100px;
}

#T_3 {
    margin: auto;
    vertical-align: middle;
}

button {
    opacity: 1;
}

#f1 {
    margin: auto;
    text-align: center;
}

.L_font {
    font-family: 微软雅黑,宋体;
    font-weight: 800;
    font-size: 1em;
    color: black;
}




.class1 {
    width: 320px;
    margin: auto;
}

#span_1 {
    height: auto;
    font: 100% Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bolder;
    background: #333;
    padding: 3px;
    color: #99CC00;
}

#stateBut {
    margin: auto;
    height: auto;
    cursor: pointer;
    background: #333;
    color: yellow;
    padding: 3px;
}