body {
    background: url(../image/earth1.jpg)no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    background-size: cover;
}

#d_bot {
    width:auto;
    height:auto;
    margin-top:100px;
    background-color: white;
    float: left;
}
#bot {
    width: auto;
    height: auto;
    margin-top: 100px;
    background-color: white;
    float: left;
}

#d2 {
    width: 400px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: Highlight;
    opacity: 0.8;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#middle {
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 180px;
}


#d_message {
    width: 400px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: Highlight;
    opacity: 0.8;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:20px;
}

#T_1 {
    width: 400px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}


.th_1 {
    width:80px;
}

#T_2 {
    width: 400px;
    height: auto;
    margin: auto;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

#th_2 {
    width:100px;
}

#T_3 {
    margin: auto;
    vertical-align: middle;
}

button {
    opacity: 1;
}

#f1 {
    margin: auto;
    text-align: center;
}

.L_font {
    font-family: 微软雅黑,宋体;
    font-weight: 800;
    font-size: 1em;
    color: black;
}




#thediv {
    width: 300px;
    height: 450px;
    background: white;
    position: absolute;
    left: -300px;
    top: 75px;
}

span {
    width: 60px;
    height: 40px;
    background-color: transparent;
    border: solid 1px white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    right: -72px;
    top: 150px;
    font-size: 28px;
    color:white;
    padding: 5px;
}